// Variables
@import 'variables';
/* Make clicks pass-through */
@import './nprogress';

/*! CSS Used from: Embedded */
a {
    color: rgb(140, 140, 250);
}

*::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

*::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/*! CSS Used from: Embedded */
input,
button {
    color: #bfbfbf;
    background-color: #1f1f1f;
}

/*! CSS Used from: Embedded */
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
    margin-bottom: 6.5px;
    margin-bottom: 0.5rem;
}

ul {
    margin-bottom: 13px;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

label {
    display: inline-block;
    margin-bottom: 6.5px;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    margin-bottom: 6.5px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 32.5px;
    font-size: 2.5rem;
}

.display-4 {
    font-weight: 300;
    line-height: 1.2;
}

.display-4 {
    font-size: 45.5px;
    font-size: 3.5rem;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 4.875px 9.75px;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.form-control:-moz-focusring {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #495057;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 3.25px;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ef5164;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 4.875px 9.75px;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    opacity: 0.65;
}

.btn-brand {
    color: #fff;
    background-color: #725ec3;
    border-color: #725ec3;
}

.btn-brand:focus,
.btn-brand:hover {
    color: #fff;
    background-color: #5b44b7;
    border-color: #5641ad;
}

.btn-brand:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(135, 118, 204, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(135, 118, 204, 0.5);
}

.btn-brand:disabled {
    color: #fff;
    background-color: #725ec3;
    border-color: #725ec3;
}

.btn-block {
    display: block;
    width: 100%;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 19.5px;
    min-height: 1.5rem;
    padding-left: 19.5px;
    padding-left: 1.5rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 13px;
    width: 1rem;
    height: 16.25px;
    height: 1.25rem;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.custom-control-input:focus~.custom-control-label:before {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:disabled~.custom-control-label {
    color: #6c757d;
}

.custom-control-input:disabled~.custom-control-label:before {
    background-color: #e9ecef;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label:before {
    position: absolute;
    top: 3.25px;
    top: 0.25rem;
    left: -19.5px;
    left: -1.5rem;
    display: block;
    width: 13px;
    width: 1rem;
    height: 13px;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #adb5bd;
}

.custom-control-label:after {
    position: absolute;
    top: 3.25px;
    top: 0.25rem;
    left: -19.5px;
    left: -1.5rem;
    display: block;
    width: 13px;
    width: 1rem;
    height: 13px;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-checkbox .custom-control-label:before {
    border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before {
    background-color: rgba(0, 123, 255, 0.5);
}

.custom-control-label:before {
    -webkit-transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .custom-control-label:before {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-start {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.mt-2 {
    margin-top: 6.5px !important;
    margin-top: 0.5rem !important;
}

.mb-5 {
    margin-bottom: 39px !important;
    margin-bottom: 3rem !important;
}

.text-center {
    text-align: center !important;
}

@media print {

    *,
    :after,
    :before {
        text-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
}

.bg-image>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
}

a {
    color: #725ec3;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: #438;
    text-decoration: none;
}

a:active {
    color: #725ec3;
}

label {
    margin-bottom: 9.1px;
    margin-bottom: 0.7rem;
    font-weight: 400;
    color: #6c757d;
}

h1 {
    margin-bottom: 22.1px;
    margin-bottom: 1.7rem;
    font-family: Nunito Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #393f49;
    text-transform: none;
    letter-spacing: normal;
}

h1 {
    margin-top: -5px;
    font-size: 23.998px;
    font-size: 1.846rem;
}

.display-4 {
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
}

.display-4 {
    margin-top: -5px;
    margin-bottom: 20.15px;
    margin-bottom: 1.55rem;
    font-size: 28.002px;
    font-size: 2.154rem;
}

.row.vertical-gap {
    margin-top: -30px;
}

.row.vertical-gap>[class*="col-"] {
    padding-top: 30px;
}

.row.sm-gap {
    margin-right: -10px;
    margin-left: -10px;
}

.row.sm-gap>[class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.row.sm-gap.vertical-gap {
    margin-top: -20px;
}

.row.sm-gap.vertical-gap>[class*="col-"] {
    padding-top: 20px;
}

.text-2 {
    color: #4b515b !important;
}

.text-grey-5 {
    color: #bcbec0 !important;
}

.bg-grey-1 {
    background-color: #f8f9fa !important;
}

.text-center {
    text-align: center;
}

.fs-13 {
    font-size: 13px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.rui-sign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rui-sign {
    min-height: 100vh;
}

.rui-sign .rui-sign-form {
    max-width: 380px;
    padding: 30px;
}

.rui-sign .rui-sign-form-cloud {
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
}

.rui-sign .rui-sign-or {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #bcbec0;
}

.rui-sign .rui-sign-or:after,
.rui-sign .rui-sign-or:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: -3px;
    border-bottom: 1px solid #e6ecf0;
}

.rui-sign .rui-sign-or:before {
    margin-right: 20px;
}

.rui-sign .rui-sign-or:after {
    margin-left: 20px;
}

.rui-sign a:not(.btn) {
    color: #bcbec0;
}

.rui-sign a:not(.btn):hover {
    color: #4b515b;
    text-decoration: none;
}

.btn {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 9px 15px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn.text-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
    color: #a4a6a8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    will-change: opacity;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.form-control::-moz-placeholder,
::-moz-placeholder {
    color: #a4a6a8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    will-change: opacity;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
    color: #a4a6a8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    will-change: opacity;
    -ms-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.form-control::-ms-input-placeholder,
::-ms-input-placeholder {
    color: #a4a6a8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    will-change: opacity;
    -ms-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.form-control::placeholder,
::placeholder {
    color: #a4a6a8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    will-change: opacity;
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

button:focus {
    outline: 0;
}

.form-control {
    min-height: 36px;
    padding: 7.5px 17px 9px;
    background-color: #fbfcfc;
    border-color: #e6ecf0;
}

.form-control:focus {
    background-color: #fbfcfc;
    border-color: rgba(114, 94, 195, 0.6);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(114, 94, 195, 0.2);
    box-shadow: 0 0 0 0.2rem rgba(114, 94, 195, 0.2);
}

.form-control:disabled {
    background-color: #f3f4f7;
    border-color: #e6ecf0;
}

.custom-control {
    padding-left: 26px;
    padding-left: 2rem;
}

.custom-control-label:after,
.custom-control-label:before {
    top: 3.9px;
    top: 0.3rem;
    left: -26px;
    left: -2rem;
    width: calc(1rem + 3px);
    height: calc(1rem + 3px);
}

.custom-control-label:before {
    background-color: #d7d9e0;
    border-color: #d7d9e0;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
    background-color: #725ec3;
    border-color: #725ec3;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-checkbox .custom-control-input:disabled~.custom-control-label {
    color: #a4a6a8;
}

.custom-checkbox .custom-control-input:disabled~.custom-control-label:before {
    background-color: #eaecf0;
    border-color: #eaecf0;
}

.invalid-feedback {
    margin-top: 6px;
}

.invalid-feedback {
    color: #f597a2;
}

.rui-social-links {
    padding: 0;
    margin: -10px -8px 0;
    font-size: 0;
    list-style-type: none;
}

.rui-social-links:after {
    content: "";
    display: table;
    clear: both;
}

.rui-social-links>li {
    display: inline-block;
    padding: 10px 5px 0;
}

.rui-social-links>li>a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 36px;
    padding: 9.5px 15px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    will-change: opacity;
    border: none;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

.rui-social-links>li>a,
.rui-social-links>li>a:active,
.rui-social-links>li>a:focus {
    color: #fff;
}

.rui-social-links>li>a:hover {
    text-decoration: none;
}

.rui-social-links>li>.rui-social-facebook {
    color: #fff;
    background-color: #475995;
}

.rui-social-links>li>.rui-social-facebook:hover {
    color: #fff;
    background-color: #3f4f84;
}

.rui-social-links>li>.rui-social-github {
    color: #fff;
    background-color: #464646;
}

.rui-social-links>li>.rui-social-github:hover {
    color: #fff;
    background-color: #393939;
}

.rui-social-links>li>.rui-social-google {
    color: #fff;
    background-color: #4285f4;
}

.rui-social-links>li>.rui-social-google:hover {
    color: #fff;
    background-color: #2a75f3;
}

/*! CSS Used from: chrome-extension://alncdjedloppbablonallfbkeiknmkdi/css/custom-styles.css */
::selection {
    background: #338ccc;
    color: #fff;
}

::-moz-selection {
    background: #338ccc;
    color: #fff;
}

/*! CSS Used from: chrome-extension://alncdjedloppbablonallfbkeiknmkdi/css/scroll.css */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-button {
    background-color: #3e4346 !important;
}

::-webkit-scrollbar-track {
    background-color: #646464 !important;
}

::-webkit-scrollbar-track-piece {
    background-color: #3e4346 !important;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #242424 !important;
    border: 2px solid #3e4346 !important;
}
